---
import heroImage from '@assets/images/hero.png';
import { Image } from '@astrojs/image/components';
import ContactButton from '@components/ui/ContactButton';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				<span class="text-orange">Landkinder</span><br />
			</h1>
		</div>
		<div class="mb-10 font-monospace text-black">- Kindertagespflege bei Bożena Werning-</div>

		<div class="mb-10" id="number-container" class="mb-10 font-monospace text-black">
			<ContactButton label="Ruf mich an" client:load />
		</div>
	</div>
	<div
		data-testid="hero-img"
		class="mb-10 flex w-1/2 items-center justify-center"
		style={{ marginTop: '-250px' }}
	>
		<Image
			src={heroImage}
			alt="Tagesmutter"
			aspectRatio="4:4"
			format="png"
			width={600}
			height={600}
			loading="eager"
		/>
	</div>
</section>
