---
---

<section
	data-testid="raum"
	id="raum"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col justify-center lg:mb-0 lg:w-1/2">
		<h2 class="self-center font-monospace text-2xl text-orange lg:text-4xl">Ort</h2>
		<span class="mb-6 ml-2 h-1 w-10 self-center bg-orange"></span>

		<div class="self-center">
			<div class="font-monospace text-black">Ort : <strong>Varl, Rahden</strong></div>
			<div class="font-monospace text-black">
				Zeit: <strong>Di - Do 7:00 - 14:30 Uhr</strong>
			</div>
		</div>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			<ul>
				<li>- Riesiger naturnaher Garten</li>
				<li>- Tiere</li>
				<li>- Spiel & Spaß innen und außen</li>
			</ul>
		</p>
	</div>
</section>
